__pycache__/
*.pyc
*.egg-info/
.eggs/
dist/
build/
*.swp
*.swo
.DS_Store
slurm-*.out
slurm-*.err
DexiNed/
EDTER/
EdgeNAT/
NBED/
pidinet/
models/
datasets/BSDS500_repo/
datasets/UDED_repo/
datasets/maritime/images/*.jpeg
~/
